<md-card md-theme="default" md-theme-watch>
    <md-card-title>
        <md-card-title-text>
            <span class="md-title">{{$ctrl.gym.name}}</span>
            <span class="md-subhead">Level {{$ctrl.getLevel($ctrl.gym.points)}} - {{$ctrl.gym.points}} points <i class="fa fa-arrow-up small"></i></span>
        </md-card-title-text>
        <md-card-title-media>
            <div class="md-media-sm card-media"><img ng-src="../images/team-{{$ctrl.getTeam($ctrl.gym.team)}}-vector.svg"></div>
        </md-card-title-media>
    </md-card-title>
</md-card>