<md-toolbar md-scroll-shrink class="md-hue-2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Settings" ng-disabled="false" ng-click="$ctrl.toggleSidenav()">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h2>
          <span>Pogobot - Gyms</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite">
            <md-icon md-svg-icon="heart" style="color: greenyellow;"></md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
            <md-icon md-svg-icon="dots-vertical"></md-icon>
        </md-button>
    </div>
</md-toolbar>