<md-content layout-padding class="about">
    <h2>About</h2>
    <p>This app is developed and mantained <strong>for free</strong> by Gianmarco Laggia and Alberto D'Este. It is released for <em>educational purpose only</em> and should not be use to play Niantic's game Pokemon Go.
    </p>
    <p>Ideating and programming this application is a big deal, it's <em>time consuming and quite difficult</em>.
        <br>We are receiving many requests for new features and bug fixing and we are quite busy trying to keep everything on track.</p>
    <p>You can star this project or open an issue at <a href="https://github.com/kevinpirola/pogobot">GitHub.com/kevinpirola/pogobot</a>
        <br>but please consider making a donation to help us to continue improving this project.
    </p>
    <p class="text-center">&copy; 2016 - kevinpirola &amp; ziotob - v0.3</p>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" class="text-center">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="34XSVAMQJ57FL">
        <input type="image" src="https://www.paypalobjects.com/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/it_IT/i/scr/pixel.gif" width="1" height="1">
    </form>
</md-content>