<md-content class="gym-details">
    <div class="gym-pic">
        <img ng-src="{{$ctrl.gym.G_IMG}}">
    </div>
    <md-card md-theme="default" md-theme-watch>
        <md-card-title>
            <md-card-title-text class="text-center">
                <span class="md-title">{{$ctrl.gym.G_NAME}}</span>
                <span class="md-subhead">Level {{$ctrl.gym.GD_LEVEL}} - {{$ctrl.gym.GD_POINTS}} / {{$ctrl.nextLevelPoints}} points <i class="fa small"></i></span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div class="card" ng-repeat="pkmn in $ctrl.pokemons | orderBy:'P_CP':true">
                <div class="card-title">
                    {{pkmn.PS_NAME}}
                </div>
                <div class="card-image">
                    <img class="img-responsive" ng-src="http://www.pokestadium.com/sprites/xy/{{(pkmn.PS_NAME === 'nidoran♀' ? 'nidoranf' : (pkmn.PS_NAME === 'nidoran' ? 'nidoranm' : pkmn.PS_NAME )) | lowercase | formatpkmn }}.gif">
                </div>
                <div class="card-cp">
                    {{pkmn.P_CP}}</div>

                <div class="card-content text-center">
                    <h4>kevinpirola</h4></div>

                <div class="card-action">
<!--
                    <p>ATK: {{pkmn.P_IND_ATK}}</p>
<p>DEF: {{pkmn.P_IND_DEF}}</p>
<p>STM: {{pkmn.P_IND_STM}}</p>
<p class="iv">IV: {{((pkmn.P_IND_ATK + pkmn.P_IND_DEF + pkmn.P_IND_STM) / 45) * 100 | number : 2}} %</p>
-->
                </div>
            </div>
        </md-card-content>
    </md-card>
</md-content>