<md-content class="gym-details">
    <div class="gym-pic">
        <img ng-src="{{$ctrl.gym.urls[0]}}">
    </div>
    <md-card md-theme="default" md-theme-watch>
        <md-card-title>
            <md-card-title-text class="text-center">
                <span class="md-title">{{$ctrl.gym.name}}</span>
                <span class="md-subhead">Level ? - {{$ctrl.gym.gym_state.fort_data.gym_points}} points <i class="fa small"></i></span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>GYM CONTENT</p>
        </md-card-content>
    </md-card>
</md-content>